MAKİNE ÖĞRENMESİ

In [42]:
import pandas as pd
from math import sqrt
import numpy as np
import math

In [38]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\abozk\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\abozk\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\abozk\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\abozk\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\abozk\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
oyuncular = {"boy":[175,176,179,181,186,190], "deneyim" : [4,6,3,5,7,3], "maaş" :[12,22,16,23,26,25] }

In [5]:
df = pd.DataFrame(oyuncular)
df

   boy  deneyim  maaş
0  175        4    12
1  176        6    22
2  179        3    16
3  181        5    23
4  186        7    26
5  190        3    25

In [6]:
df.maaş.mean()

20.666666666666668

In [7]:
df.maaş - df.maaş.mean()

0   -8.666667
1    1.333333
2   -4.666667
3    2.333333
4    5.333333
5    4.333333
Name: maaş, dtype: float64

MEAN MODEL

In [9]:
(df.maaş - df.maaş.mean()).pow(2).sum()

151.33333333333334

BÖLÜMLERE AYIRMA

In [10]:
filt = (df.boy <= 180)

In [16]:
df1 = df[filt]
df1

   boy  deneyim  maaş
0  175        4    12
1  176        6    22
2  179        3    16

In [18]:
df1.maaş.mean()

16.666666666666668

In [17]:
df2 = df[~filt]
df2

   boy  deneyim  maaş
3  181        5    23
4  186        7    26
5  190        3    25

In [19]:
df2.maaş.mean()

24.666666666666668

In [20]:
(df1.maaş - df1.maaş.mean()).pow(2).sum() + (df2.maaş - df2.maaş.mean()).pow(2).sum()

55.33333333333333

Bu şekilde bölümlere ayırarak hata payı sıfıra yaklaşır.

In [41]:
df = pd.read_csv('bina_enerji_verimliliği.csv')

df

       X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0    0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1    0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2    0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3    0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4    0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28
..    ...    ...    ...     ...  ...  ..  ...  ..    ...    ...
763  0.64  784.0  343.0  220.50  3.5   5  0.4   5  17.88  21.40
764  0.62  808.5  367.5  220.50  3.5   2  0.4   5  16.54  16.88
765  0.62  808.5  367.5  220.50  3.5   3  0.4   5  16.44  17.11
766  0.62  808.5  367.5  220.50  3.5   4  0.4   5  16.48  16.61
767  0.62  808.5  367.5  220.50  3.5   5  0.4   5  16.64  16.03

[768 rows x 10 columns]

In [51]:
from sklearn.model_selection import train_test_split

# Verileri eğitim ve test setlerine bölelim
train_df, test_df = train_test_split(df, test_size=0.2, random_state=42)

# train_df, eğitim verilerini içerir
# test_df, test verilerini içerir
train_df

       X1     X2     X3      X4   X5  X6    X7  X8     Y1     Y2
60   0.82  612.5  318.5  147.00  7.0   2  0.10   1  23.53  27.31
618  0.64  784.0  343.0  220.50  3.5   4  0.40   2  18.90  22.09
346  0.86  588.0  294.0  147.00  7.0   4  0.25   2  29.27  29.90
294  0.90  563.5  318.5  122.50  7.0   4  0.25   1  32.84  32.71
231  0.66  759.5  318.5  220.50  3.5   5  0.10   4  11.43  14.83
..    ...    ...    ...     ...  ...  ..   ...  ..    ...    ...
71   0.76  661.5  416.5  122.50  7.0   5  0.10   1  32.21  33.67
106  0.86  588.0  294.0  147.00  7.0   4  0.10   2  26.33  27.36
270  0.71  710.5  269.5  220.50  3.5   4  0.10   5  10.67  14.26
435  0.98  514.5  294.0  110.25  7.0   5  0.25   4  28.62  30.12
102  0.90  563.5  318.5  122.50  7.0   4  0.10   2  28.83  29.36

[614 rows x 10 columns]

In [52]:
test_df

       X1     X2     X3      X4   X5  X6    X7  X8     Y1     Y2
668  0.62  808.5  367.5  220.50  3.5   2  0.40   3  16.47  16.90
324  0.66  759.5  318.5  220.50  3.5   2  0.25   1  13.17  16.39
624  0.98  514.5  294.0  110.25  7.0   2  0.40   3  32.82  32.78
690  0.79  637.0  343.0  147.00  7.0   4  0.40   4  41.32  46.23
473  0.64  784.0  343.0  220.50  3.5   3  0.25   4  16.69  19.76
..    ...    ...    ...     ...  ...  ..   ...  ..    ...    ...
355  0.79  637.0  343.0  147.00  7.0   5  0.25   2  38.98  45.97
534  0.90  563.5  318.5  122.50  7.0   4  0.40   1  36.66  35.92
344  0.86  588.0  294.0  147.00  7.0   2  0.25   2  29.34  33.37
296  0.86  588.0  294.0  147.00  7.0   2  0.25   1  29.54  33.98
462  0.71  710.5  269.5  220.50  3.5   4  0.25   4  12.17  15.20

[154 rows x 10 columns]

In [50]:
bolum = df.iloc[:3, :4]
bolum

     X1     X2     X3      X4
0  0.98  514.5  294.0  110.25
1  0.98  514.5  294.0  110.25
2  0.98  514.5  294.0  110.25

In [55]:
from sklearn.linear_model import LinearRegression

# Bağımsız değişkenler (X) ve hedef değişken (y) ayırma
X_train = train_df.drop('X1', axis=1)  # Hedef sütunu dışında tüm sütunları X_train olarak alın
y_train = train_df['Y1']  # Hedef sütunu y_train olarak alın

X_test = test_df.drop('X1', axis=1)  # Hedef sütunu dışında tüm sütunları X_test olarak alın
y_test = test_df['Y1']  # Hedef sütunu y_test olarak alın

# Modeli oluştur
model = LinearRegression()

# Modeli eğit
model.fit(X_train, y_train)

LinearRegression()

In [57]:
from sklearn.metrics import mean_squared_error

# Test verileri üzerinde tahminler yap
tahminler = model.predict(X_test)

# RMSE hesaplama
rmse = np.sqrt(mean_squared_error(y_test, tahminler))
print("RMSE:", rmse)

RMSE: 1.4428427567387418e-13

In [67]:
from sklearn.metrics import mean_squared_error, r2_score

# Test verileri üzerinde tahminler yap
y_pred = model.predict(X_test)

# RMSE hesaplama
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("RMSE:", rmse)

# R-kare hesaplama
r2 = r2_score(y_test, y_pred)
print("R-squared:", r2)

RMSE: 1.4428427567387418e-13
R-squared: 1.0

In [70]:
sutun_adlari = df.columns
sutun_adlari

Index(['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'Y1', 'Y2'], dtype='object')

In [73]:
model.fit(X_train, y_train)
#yeni_veri = pd.DataFrame({'X1': [0.12, 0,8,5,0.55], 'X2': [1,5,0.56,5,0.98], 'X3': [1,5,0.56,5,0.98], 'X4': [1,5,0.56,5,0.98], 'X5': [1,5,0.56,5,0.98], 'X6': [1,5,0.56,5,0.98], 'X7': [1,5,0.56,5,0.98], 'X8': [1,5,0.56,5,0.98], 'Y1': [1,5,0.56,5,0.98], 'Y2': [1,5,0.56,5,0.98]})
yeni_veri = yeni_veri[sutun_adlari]
tahmin = model.predict(yeni_veri)

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- X1